<!DOCTYPE html>
<html>
<head><title>Employee Registration</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
  <h2>Employee Registration</h2>
  {% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
      <button type="submit" class="btn btn-add">Register</button>
  </form>
  <div class="btn-center">
    <a href="{% url 'employee_list' %}" class="btn btn-add">View All Employees</a>
  </div>
</div>

</body>
</html>